@font-face {
    font-family: 'distant_strokeregular';
    src: url('distant_stroke-webfont.eot');
    src: url('distant_stroke-webfont.eot?#iefix') format('embedded-opentype'),
         url('distant_stroke-webfont.woff2') format('woff2'),
         url('distant_stroke-webfont.woff') format('woff'),
         url('distant_stroke-webfont.ttf') format('truetype'),
         url('distant_stroke-webfont.svg#distant_strokeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'distant_strokemedium';
    src: url('distant_stroke_medium-webfont.eot');
    src: url('distant_stroke_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('distant_stroke_medium-webfont.woff2') format('woff2'),
         url('distant_stroke_medium-webfont.woff') format('woff'),
         url('distant_stroke_medium-webfont.ttf') format('truetype'),
         url('distant_stroke_medium-webfont.svg#distant_strokemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
